{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.tsx"],
      "options": {
        "printWidth": 9999,
        "singleQuote": true,
        "jsxSingleQuote": true
      }
    }
  ]
}
